
body {
	
	overflow-x: hidden;
	margin:0;
}
#bodyWrapper {
	
	overflow-x: hidden;
}

.image-title {

  margin-top: 1%;
}

.main {

  margin-top:25px;
  margin-bottom: 25px;
}

.mediaHolder {

  margin-top: 20px;
  margin-bottom: 20px;
}

.media-grid {

  margin-top: 20px;
  margin-bottom: 20px;
  animation-name: fadeout;
  animation-duration: 250ms;
}


.modalLink {

  cursor:pointer;
}

.image-title, #modalHeaderTitle,
#modalHeaderTitleVideo{

  font-size: 1.5em;
  text-align: center;
}


.row #myVideo {
	margin: 0 auto;
}

.row-title {

  margin-top: 20px;

}


#modalPhoto {
	
	margin: 0 auto;
}

#myVideo {

  animation-name: fadeout;
  animation-duration: 250ms;
}



#mySecondVideo {
	
	margin: 0 auto;
	
}

@keyframes fadeout {
  from {opacity: 0.3;}
  to {opacity: 1;}

}


@media screen and (min-width:320px){
	
.modalLink {

    margin-top: 30px;
	margin-bottom: 10px;
 }

  .row-title {

    margin-top: 15px;


  }


}

@media screen and (min-width: 375px) {


}

@media screen and (min-width: 410px) {


}


@media screen and (min-width:670px){


  .modalLink {

    margin: 0 auto;
  }

  .row-title {

    margin: 20px;
  }
	
}
